<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="logo">
  Bartinder <%= image_tag("cocktail.png") %>
</div>
<div id="sub_logo">
  make love to drinks
</div>
<br>
<br>
<%= form_for :login, url: login_path do |f| %>
  <div class="well well-xs"> 
    <%= f.label :email %>
    <%= f.text_field :email %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <br>
    <%= f.submit 'Log In' %>
  </div>
<% end %>