<br>
<h2>Edit <%= "#{@drink.name}" %>!</h2>
<%= link_to "drink timeline", drinks_path %>
<br>
<br>
<br>
<%= form_for @drink do |f| %>
  <div>
    <%= f.label :name %>:
    <%= f.text_field :name %>
  </div>
  <div>
    <strong><%= f.label :Glassware %>:</strong>
    <% glassware_options = [rocks, highball, cocktail] %>
    <%= f.select :glassware, glassware_options %>
  </div>
  <div>
    <strong><%= f.label :Spirit %>:</strong>
    <%= f.collection_select(:spirit_ids, Spirit.all, :id, :name, {}, {:multiple => true}) %>
  </div>
  <div>
    <%= f.label :recipe %>:
    <%= f.text_area :recipe %>
  </div>
    <div>
    <strong><%= f.label :Season %>:</strong>
    <% season_options = ["spring", "summer", "fall", "winter"] %>
    <%= f.select :season, season_options %>
  </div>
  <div>
    <strong><%= f.label :Price %>:</strong>
    <%= f.number_field(:price) %>
  </div>
  <br>
  <%= f.submit "Submit these changes!" %>
<% end %>








