<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Drinkmatize</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">

  <div class="masthead">
      <h3 class="text-muted">Coffeeshop</h3>    
  </div>

  <!-- Jumbotron -->
  <div class="jumbotron">
    <h1>Glenn's Special Blend Coffee</h1>
    <p class="lead">The best coffee on the West Coast. Order 5 and get one free today!</p>
    <p><%= link_to "Buy today", root_url, class: 'btn btn-lg btn-success' %></p>
  </div>

  <!-- Example row of columns -->
    <div class="row">

        <div class="col-xs-4 box">

          <h2>How good is the coffee?</h2>
          <p class="text-danger">Warning!</p>
          <p>This coffee is so good that you will never want to drink any other brew again! We have a 100% satisfaction guarantee, if you are not satisfied, we will return your money no question asked.</p>
          <p><%= link_to "Read testimonials", '#', class: "btn btn-primary" %></p>
        </div>



        <div class="col-xs-4 box">
          <h2>About</h2>
          <p>Our family heritage is deeply ingrained from the city of London. We began brewing coffee since the days of King George III. We have maintained a culture of excellent since 1738.</p>
          <p><%= link_to "See our history", '#', class: "btn btn-primary" %></p>
       </div>


        <div class="col-xs-4 box">
          <h2>Buy</h2>
          <p>Shop through a wide selection of our products. We offer the finest coffee in the world. As our tagline goes: "We're not too expensive, you're too cheap."</p>
          <p><%= link_to "Shop now", '#', class: "btn btn-primary" %></p>
        </div>

    </div>

    <div class="row">
      <section>
        <ul>
          <li>I'm an anchor tag!</li>
          <li>I'm an anchor tag!</li>
          <li>I'm an anchor tag!</li>
          <li>I'm an anchor tag!</li>
        </ul>
      </section>
    </div>

    <!-- Site footer -->
      <footer class="footer">
        <p>&copy; Company 2014</p>
      </footer>

</div>

<% if logged_in? %>
  Logged in as: <%= current_user.name %> <%= link_to 'Log Out', logout_path, method: :delete %>
<% elsif @logging_in %>
  <%= link_to 'signUp', signup_path %>

<% else %>
  <%= link_to 'logIn', login_path %>
<% end %>

<%= yield %>

</body>
</html>
