<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <title>Drinkmatize</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
  Logged in as: <%= current_user.name %> <%= link_to 'Log Out', logout_path, method: :delete %>
<% elsif @logging_in %>
  <%= link_to 'signUp', new_user_path %>

<% else %>
  <%= link_to 'logIn', login_path %>
<% end %>

<%= yield %>

</body>
</html>
